.add-option-error {
  color: $off-white;
  font-style: italic;
  margin-top: $m-size;
  padding: 0 $m-size;
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.add-option__input {
  flex-grow: 1;
  border: none;
  background: rgb(48, 35, 35);
  color: $off-white;
  margin: 0 0 $s-size 0;
  padding: $s-size;
}

// first example for mobile
@media (min-width: $desktop-breakpoint) {
  // * {
  //   color: #f00;
  // }
  .add-option {
    flex-direction: row;
  }
  .add-option__input {
    margin: 0 $s-size 0 0;
  }
}
