.header {
  background: black;
  color: white;
  margin-bottom: $xl-size;
  padding: $m-size 0;
}
// For more BEM just google it "getbem"
.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: thistle;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
}

@media (min-width: $desktop-breakpoint) {
}
