// Colors
$off-black: #20222b;
$dark-blue: #333745;
$light-blue: #5d75cc;
$off-white: #bcc0d3;
$orange: #ff6600;
$purple: purple;
$blue: #2737cc;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
